<%= link_to 'Write a new post', new_post_path %>
<% @blog_posts.each do |post| %>
  <div class="post_section">
    <div class="post_title">
      <h2><%= post.title %></h2>
    </div>

    <div class="post_content">
      <p><%= post.body %></p>
    </div>

    <div class="post_data">
      <%= link_to 'Read whole post', post %>  |
      <%= link_to 'Edit', edit_blog_post_path(post) %>  |
      <%= link_to 'Delete', :method => post, data: { confirm: 'Are you sure?' } %>
      <br/>
      &gt; December 28, 2048 | <strong>Author:</strong> John | <strong>Category:</strong> <a href="#">Freebies</a>
    </div>

    <div class="post_likes">
      <span><%= post.likes %></span>
    </div>
  </div>
<% end %>
